<!DOCTYPE html>
<!-- TAGS SECTION -->
<html>
  {{ partial "header.html" . }}

  <body>
    <div class="container wrapper tags">
      {{ partial "head.html" . }}

      <h1 class="page-title">{{ .Title }}</h1>
      <p>
        To create a feed for a single topic, click on the tag and append <code>index.xml</code> to the address.
      </p>
      <ul>
        {{ range .Site.Taxonomies.tags }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
        {{ end }}
      </ul>
    </div>

    {{ partial "footer.html" . }}
  </body>

</html>
